
	/*janela modal*/
.window{
	width:900px;
	position:absolute;
	background:#fff;
	padding:20px;
	box-shadow:0 0px 5px 0 #44444480;
	z-index:2;
	display:none;
}
.window.load{
	width:400px;
	padding:80px 0;
	border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-moz-border-radius:5px;
	position:fixed;
}
.window.load progress{width:100%;display:block; -webkit-appearance: none;height:18px}
.window.load progress::-webkit-progress-bar { background: #DDDDDD; padding: 0;box-shadow: 0 0 3px #00000054 inset}
.window.load progress::-webkit-progress-value { background:#00BFFF;}
.window.load .border.prog { border-color:#00BFFF!important;border-radius:3px}

.window.load span{
	color:#8e44ad;
	display:block;
	padding-top:10px;
}
.window.load .carrega{
	display:block;
	text-align:center;
}
.window.load .carrega img{
	display:block;
	margin:0 auto;
}
.fechar{   
	display: block;
    text-align: right;
    position: absolute;
    right: 7px;
    top: 7px;
    background: #444;
    color: #fff;
    padding: 2px 7px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}
#mascara,
#fundo{
    display:none;
    position:fixed;
    left:0;
    top:0;
	bottom:0;
    z-index:1;
    background-color:#000;
}

/*md-fixo*/
.md-fixo{position:fixed;top: 48.406px!important;}
.bg-gray{background: #f4f4f4;}

/*md-table*/
.md-table{top:0!important;}
.md-table .form-campo{background:#fff!important}
